  /*
  ######### SELECTORES ######### 
*/

  /*Selector Universal*/
  * {
      font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
  }

  /*Selector de etiqueta*/
  h1 {
    background: red;
    color: white;
    padding: 10px;
  }

  a {
    font-size: 18px;
    color: green;
    text-decoration: none; /*Elimino el subrayado del enlace*/
  }

  footer a {
    color: red;
    
  }

  /*Selector de id*/

  /**Selector de clase*/

  /*Selector de atributo*/