* {
    margin: 0px;
    padding: 0px;
}

/*
    amarillo = margen, 
    rojo = borde, 
    lila = padding, 
    azul = contenido
*/

#caja1,
#caja2 {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 10px solid red;
    margin: 15px; /*top right buttom left*/
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 24px;
    margin-right: 10px;
    padding: 20px;
    padding-bottom: 40px;
}

p {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    line-height: 235px;
}